@media screen and (max-width: 767px) {

    /* header section start */
    .main_header {
        flex-direction: column;
    }

    .header_links ul {
        gap: 12px;
        flex-direction: column;
        margin-top: 15px;
    }

    /* header section finish */

    /* hero section start */

    .hero_content h1 {
        font-size: 45px;
        padding-inline: 20px;
    }

    .hero_content p {
        font-size: 17px;
        padding-inline: 20px;
    }

    .hero_content button {
        font-size: 20px;
        padding: 16px 27px;
        width: 80%;
    }

    .hero_content .freebtn {
        padding: 15px 3px;
        width: 66%;
        font-size: 23px;
    }

    /* hero section finish */

    /* pramotion section start */

    .pramotion_sec {
        display: none;
    }

    /* pramotion section finish */

    /* school fun section start*/

    .school_fun_main {
        flex-direction: column;
        gap: 10px;
    }

    .school_fun_video video {
        margin-top: 10px;
        width: 100%;
        height: auto;
        padding-inline: 10px;
    }

    /* school fun section finish */

    /* crowd mode section start */

    .crowd_mode_sec h2 {
        font-size: 24px;
        padding-inline: 15px;
    }

    .crowd_mode_sec h3 {
        font-size: 22px;
        padding-inline: 15px;
    }

    .crowd_mode_sec img {
        width: 100%;
        /* object-fit: cover; */
        padding-inline: 10px;
    }

    .crowd_mode_sec iframe {
        height: 250px;
        width: 100%;
        padding-inline: 10px;
    }

    .crowd_mode_sec button {
        margin-top: 10px;
    }

    /* crowd mode section end */

    /* game mode section start */

    .game_mode_sec h2 {
        padding-inline: 25px;
        font-size: 27px;
    }

    .game_mode_img_sec {
        flex-direction: column;
        gap: 10px;
    }

    .game_mode_sec button {
        width: 80%;
        margin-top: 5px;
    }

    /* game mode section finish */

    /* school mode section start */

    .school_mode h2 {
        padding-inline: 10px;
        font-size: 33px;
    }

    .school_mode p {
        padding-inline: 20px;
        text-align: justify;
        font-size: 20px;
    }

    .school_mode button {
        width: 80%;
        padding: 10px 7px;
    }

    /* school mode section finish */

    /* classroom section start */

    .classroom_sec_main {
        flex-direction: column;
        gap: 50px;
    }

    .classroom_img img {
        width: 100%;
        object-fit: cover;
        padding-inline: 25px;
    }

    .classroom_content {
        padding-inline: 20px;
    }

    .classroom_content h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
    }

    .classroom_content ul li {
        line-height: 25px;
    }

    /* classroom section finish */

    /* companyname section start */

    .companyname_sec_main p {
        padding-inline: 20px;
    }

    .companyname_img {
        flex-wrap: wrap;
    }

    .companyname_img img {
        width: 130px;
        padding-inline: 15px;
    }


    .companyname_sec_main button {
        width: 80%;
        padding: 8px;
        font-size: 18px;
    }

    /* companyname section finish */

    /* study section start */

    .study_sec_main h2 {
        font-size: 25px;
        padding-inline: 15px;
    }

    .study_sec_main video {
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding-inline: 15px;
    }

    /* study section finish */

    /* class section start */

    .class_sec {
        height: auto;
    }

    .class_sec_main {
        flex-direction: column;
    }

    .class_sec_img img {
        width: 100%;
        /* object-fit: cover; */
        padding-inline: 20px;
    }

    .class_sec_content h2 {
        font-size: 24px;
        margin-bottom: 20px;
        padding-inline: 20px;
    }

    /* class section finish */

    /* responsive section start */

    .responsive_main_sec h2 {
        font-size: 24px;
        margin-bottom: 20px;
        padding-inline: 20px;
    }

    .responsive_main_imges {
        flex-direction: column;
    }

    .res_img .macbtn {
        margin-top: 0px;
        padding: 12px 11px;
        font-size: 19px;
    }

    .res_img .mac {
        width: 100%;
        padding-inline: 20px;
    }

    /* responsive section finish */

    /* host section start */

    .main_host_sec h2 {
        font-size: 32px;
    }

    .main_host_sec img {
        width: 100%;
        padding-inline: 15px;
    }

    /* host section finish */

    /* stage section start */

    .main_stage_sec h2 {
        font-size: 30px;
    }

    .main_stage_sec video {
        height: auto;
        width: 100%;
        padding-inline: 15px;
    }

    .main_stage_sec h3 {
        font-size: 21px;
        text-align: center;
    }

    .main_stage_sec button {
        padding: 10px 10px;
        width: 85%;
        font-size: 19px;
    }

    /* stage section finish */

    /* full customization section start */

    .full_customization_sec {
        padding: 50px 0;
    }

    .main_full_customization_sec h1 {
        text-align: center;
        font-size: 30px;
    }

    .main_full_customization_sec .main_content {
        font-size: 16px;
        padding-inline: 35px;
    }

    .full_customization {
        margin-top: 35px;
        flex-direction: column;
    }

    .full_cust_left .main_cust_mix {
        gap: 45px;
    }

    .mix_cust_left {
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
    }

    .mix_cust_left .cust_content h2 {
        font-size: 23px;
        text-align: center;
    }

    .mix_cust_left .cust_content p {
        font-size: 17px;
        margin-top: 10px;
        padding-inline: 28px;
        text-align: center;
    }

    .full_cust_middle {
        margin: 0 auto;
    }

    .full_cust_middle img {
        width: 210px;
    }

    .full_cust_right .main_cust_mix {
        gap: 45px;
    }

    .mix_cust_right {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .mix_cust_right .cust_content h2 {
        font-size: 23px;
        text-align: center;
    }

    .mix_cust_right .cust_content p {
        font-size: 17px;
        margin-top: 10px;
        padding-inline: 28px;
        text-align: center;
    }

    /* full customization section finish */

    /* testimonial section start */

    .testimonial_boxes {
        flex-direction: column;
        width: 100%;
        padding-inline: 50px;
    }

    .test_content {
        flex-direction: column;
    }

    /* testimonial section finish */

    /* profit section start */

    .profit_sec_main {
        padding: 50px 20px 10px 20px;
    }

    .profit_sec_main h2 {
        font-size: 24px;
    }

    .profit_sec_main p {
        font-size: 12px;
        padding-inline: 20px;
    }

    .profit_sec_main iframe {
        width: 100%;
        height: 250px;
    }

    /* profit section finish */

    /* footer section start */

    .footer_sec {
        padding-inline: 20px;
    }

    .contact_info {
        flex-direction: column;
    }

    .contact_with h4 {
        font-size: 20px;
        font-weight: 600;
    }

    .contact_icons {
        margin-bottom: 20px;
    }

    .contact_with hr {
        width: 250px;
    }

    .contact_us h4 {
        font-size: 20px;
        font-weight: 600;
    }

    .contact_us hr {
        width: 250px;
    }

    /* footer section finish */

    /* footer copyright section start */

    .copyright_sec {
        padding-inline: 15px;
    }

    /* footer cpoyright section finish */
}
