/* tablet responsive media query */

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* header section start */
    .main_header {
        padding-inline: 20px;
    }

    .header_links ul {
        gap: 20px;
    }

    /* header section finish */ 
    
    /* pramotion section start */

    .pramotion_img {
        padding-inline: 30px;
    }

    .pramotion_img img {
        width: 150px;
        height: auto;
    }

    /* pramotion section finish */

    /* school fun section start*/

    .school_fun {
        padding-inline: 25px;
    }

    .school_fun_video video {
        width: 100%;
        height: auto;
    }

    .school_fun_content h2{
        color: white;
    }
    
    /* school fun section finish*/

    /* crowd mode section start */
    
    .crowd_mode_sec {
        padding-inline: 20px;
    }

    .crowd_mode_sec img {
        width: 100%;
    }

    .crowd_mode_sec h2 {
        font-size: 30px;
    }

    .crowd_mode_sec h3 {
        font-size: 23px;
    }

    .crowd_mode_sec iframe{
        width: 100%;
    }

    .crowd_mode_sec button {
        margin-top: 20px;
        margin-bottom: 15px;
    }

    /* crowd mode section start */

    /* game mode section start */

    .game_mode {
        padding-inline: 20px;
    }

    .game_mode_sec h2 {
        font-size: 27px;
    }

    .game_mode_img_sec img {
        width: 150px;
    }

    /* game mode section finish */

    /* school mode section start */

    .school_mode {
        padding-inline: 20px;
    }

    .school_mode h2 {
        font-size: 42px;
    }
    
    .school_mode p {
        text-align: center;
    }

    /* school mode section finish */
}